* {
  margin: 0;
  box-sizing: border-box;
  background-color: lightgray;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  height: 10%;
  width: 100%;
  color: black;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.card {
  height: auto;
  width: auto;
  margin: 15px;
  box-shadow: 10px 5px 18px 0px rgba(0, 0, 0, 0.75);
}

img {
  height: 230px;
  width: 230px;
  margin: 0;
  border-radius: 6px;
}

#loader {
  box-sizing: border-box;
  opacity: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 50%;
  transition: opacity 0.3s ease-in;
  padding: 20px;
  width: 100%;
}
#loader.show {
  opacity: 1;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}
.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}
.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
